.activities-page{
    height: 2000px;
    background-color: black;
    opacity: 0.88;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activities-page-title{
    margin-top: 10;
    color: white;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 40px;
    opacity: 1;
}

.activity{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.position-title{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
}

.activity-image{
    width: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.activity-company{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
}