.activities-page{
    height: 2500px;
    background-color: black;
    opacity: 0.88;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activities-page-title{
    margin-top: 10;
    color: white;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 40px;
    opacity: 1;
}

.activity{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.position-title{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
}

.activity-image{
    width: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.activity-company{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
}

@media (max-width: 1000px) {
    .activities-page {
        height: 1000px;
    }

    .activity {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .position-title,
    .activity-company {
        font-size: 16px; /* Adjust the font size for position title and activity company */
        margin-bottom: 5px;
    }

    .activity-image {
        width: 25px; /* Adjust the width of the activity image */
        margin-left: 0;
        margin-bottom: 0;
    }

    .activities-page-title {
        font-size: 26px; /* Adjust the font size for the activities page title */
        margin-top: 20px;
    }
}
