.header{
    font-family: Open Sans;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    right: 0;
    left: 0;
    top: 0;
    height: 80px;
    z-index: 1000;
    transition: height 0.6s, background-color 0.6s;
}
.header:hover{
    height: 95px;
    background-color: rgba(100, 0, 255, 0.5);
}
.right-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.middle-section{
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.left-section{
    margin-left: 30px;
}


.email{
    margin-right: 20px;
    margin-left: 20px;
}
.number{
    margin-right: 20px;
    margin-left: 20px;
}

.linkedin{
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;

}
.instagram{
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
.twitter{
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
.github{
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}
.drop-down{
    width: 50px;
}