body{
    margin-left:0px;
    margin-right: 0px;
    background-image: url(images/nature-purple-background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Source Code Pro;

}

.intro-page{
    display: flex;
    flex-direction: row;
    position: absolute;
    font-family: Source Code Pro;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: Open Sans;
    font-size: 110px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 50px;
    text-shadow: 6px 6px 8px rgb(0,0,0);
    
}
.title-desc{
    margin-top: 10px;
    font-size: 30px;
    margin-right: 80px;
    text-shadow: 2px 2px 8px rgb(0,0,0);
}
