body{
    margin-bottom: 3000px;
    margin-left:0px;
    margin-right: 0px;
    background-image: url(images/nature-purple-background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Source Code Pro;

}

.intro-page{
    display: flex;
    flex-direction: row;
    font-family: Source Code Pro;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-left: 20px;
    
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: Open Sans;
    font-size: 110px;
    font-weight: 700;
    margin-top: 200px;
    text-shadow: 2px 2px 20px rgb(0,0,0);
    margin-bottom: 60px;
}
.title-desc{
    margin-top: 10px;
    font-size: 20px;
    margin-right: 80px;
}
