.menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: rgb(40, 40, 40);
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0;
    border-radius: 5px;
    bottom: -110px;
    left: 13px;
}


.nav{
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: 600;
    color: white;
    transition: color 0.3s;
}

.nav:hover{
    color: rgb(100, 0, 255)
}

.nav-link{
    text-decoration: none;
}