.middle-page{
    margin-top: 100vh;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 1200px;
    opacity: 0.85;
    z-index: 5;
    display: flex;
    justify-content: center;
}
.ab-info{
    padding-top: 20px;
    line-height: 20px;
    color: white;
    margin-left: 400px;
    margin-right: 400px;
    max-width: 1000px;
    min-width: 800px;

}
.ab-title{
    color: white;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 40px;
    opacity: 1;
    display: flex;
    justify-content: center;
    opacity: 0;
}
.ab-title.animate__animated{
    opacity: 1;
}
.ab-desc{
    font-size: 20px;
    line-height: 50px;
    font-family: Open Sans;
    color: rgb(150,150,150)

}

.pfp{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 300px;
    margin-right: 20px;
    margin-left: 20px;
    border-style: solid;
    border-color: rgb(100, 0, 255);
    border-width: 1px;
    transition: width 0.7s, height 1.2s;
}
.pfp:hover{
    width: 180px;
    height: 180px;

}

.middle-desc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.middle-desc.animate__animated{
    opacity: 1;
}

.profile{
    opacity: 0;
}
.profile.animate__animated{
    opacity: 1;
}


.profile-skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile, .skills{
    font-size: 20px;
    line-height: 40px;
    color: rgb(150,150,150);
    max-width: 600px;
    padding-right: 20px;
    padding-left: 20px;
}


.profile-title, .skills-title{
    color: white;
    font-weight: 600;
    font-size: 27px;
}
.full-name-title, .birth-title, .age-title{
    font-weight: bold;
}

span{
    color:rgb(100, 100, 255);
}

.skill-points{
    font-weight: bold;
}

@media(max-width: 1000px){
    .middle-page{
        margin-top: 100vh;
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 600px;
        opacity: 0.85;
        z-index: 5;
        display: flex;
        justify-content: center;
    }
    .ab-info{
        padding-top: 20px;
        line-height: 20px;
        color: white;
        margin-left: 200px;
        margin-right: 200px;
        max-width: 500px;
        min-width: 400px;
    
    }
    .ab-title{
        color: white;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 12px;
        opacity: 1;
        display: flex;
        justify-content: center;
    }
    .ab-desc{
        font-size: 8px;
        line-height: 10px;
        font-family: Open Sans;
        color: rgb(150,150,150)
    
    }
    
    .pfp{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 300px;
        margin-right: 10px;
        margin-left: 10px;
        border-style: solid;
        border-color: rgb(100, 0, 255);
        border-width: 1px;
        transition: width 0.7s, height 1.2s;
    }
    .pfp:hover{
        width: 90px;
        height: 90px;
    
    }
    
    .middle-desc{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .profile-skills{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .profile, .skills{
        font-size: 8px;
        line-height: 10px;
        color: rgb(150,150,150);
        max-width: 300px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    
    .profile-title, .skills-title{
        color: white;
        font-weight: 600;
        font-size: 10px;
    }
    .full-name-title, .birth-title, .age-title{
        font-weight: bold;
    }
    
    span{
        color:rgb(100, 100, 255);
    }
    
    .skill-points{
        font-weight: bold;
    }
    
}