.project-info{
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: azure;
    z-index: 100;
    margin-bottom: 350px;
    top: 300px;    
    opacity: 0.98;
    display: flex;
    justify-content: center;
}
.close-info{
    position:absolute;
    height: 100px;
    width: 800px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-info p{
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
}
.proj-info-header{
    font-size: 20px;
    line-height: 50px;
    font-family: Open Sans;
    color: black;
    font-weight: 600;
}

.studysched{
    font-size: 20px;
    line-height: 50px;
    font-family: Open Sans;
    color: rgb(150,150,150);
    margin: 530px 40px;
    color: gray;
}