.project-info{
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: azure;
    z-index: 100;
    margin-bottom: 350px;
    top: 300px;    
    opacity: 0.98;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.close{
    color: black;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600; 
    cursor: pointer;
}
.close:hover{
    color: rgb(100, 0, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    
}

.info-content{
    display: flex;
    flex-direction: column;
}

.info-text-div{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}
.proj-info-header{
    font-size: 20px;
    font-family: Open Sans;
    color: black;
    font-weight: 600;
    margin-bottom: 0;
}

.studysched{
    font-size: 20px;
    line-height: 50px;
    font-family: Open Sans;
    color: rgb(150,150,150);
    color: gray;
}

.img-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.proj-img{
    width: 400px;
    height: 400px;
    object-fit: contain;  
    margin: 0;  
}

a{
    text-decoration: underline;
    color: rgb(100, 0, 255);

}