.project-page{
    height: 1500px;
    background-image: url(images/web-background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.project-page-title{
    color: white;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 40px;
    opacity: 1;
}

.project-thumbnail{
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: top center;
}
.project-thumbnail:hover{
    opacity: 0.6;
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 30px;
}

@media (max-width: 1000px) {
    .project-page {
        height: auto;
    }

    .project-thumbnail {
        width: 100%; /* Make the project thumbnails take the full width */
        height: auto; /* Auto-adjust the height */
        margin-bottom: 15px; /* Add some space between thumbnails */
    }

    .project-grid {
        grid-template-columns: 1fr; /* Stack the projects in a single column on smaller screens */
        column-gap: 0;
        row-gap: 20px;
    }
}
